body {
	background: #f6f7f8;
	color: #727272;
	line-height: 1.25;
	font-size: 14pt;
    font-weight: 200;
}

h1{
	font-size:45px;
	font-weight: 300 !important;
}

nav.navbar-primary ul{
	list-style: none;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -o-inline-flex;
	display: -ms-inline-flex;
	display: -moz-inline-flex;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
}

nav.navbar-primary ul>li>a {
	color: white;
    width: 50px;
    height: 50px;
    display: block;
    border: solid white 2px;
    padding-top: 8px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.4s;
}

nav.navbar-primary ul>li>a:hover{
	color: #7FD1D4;
}

.avatar{
	box-shadow: 0px 0px 0px 6px white;
}

.site-head{
	background: url('http://res.cloudinary.com/dt2mntbmf/image/upload/v1442901485/background_g3pwsr.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

@media screen and (max-width: 767px)
{
	.site-head{
		width: 100%;
		padding-bottom: 150px;
	}
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 25px;
	}
}

header.primary {
    position: absolute;
    top: 0%;
    width: 100%;
    color: white;
    padding-top: 100px;
}

header.primary h1{
	font-weight: 100 !important;
	color: #D8D8D8;
}

header.primary h1>span{
	font-weight: 400 !important;
}

.large-header {
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a:hover, a:focus {
	color: #7FD1D4;
}

section {
	padding: 1em;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}

.hide,.lead.desc>strong{
	opacity: 0;
	transition: all 1s;
	color: #7FD1D4;
	text-shadow: 0px 0px 6px black;
}

.animated{
	display: inline !important;
}

.featured {
    background-color: #FFFFFF;
    color: #727272;
}

.reading{
	padding: 50px 10px;
}
article header h1 {
    font-weight: 600 !important;
    color: #46A5A9;
    text-shadow: 0px 0px 1px #727272;
}

article header.big{
	margin-bottom:25px;
}

article header.big p{
	font-style: italic;
    color: #9A9A9A;
    text-shadow: 0px 0px 1px #FFFFFF;
    font-size: 20px;
}

.coding {
    background-position: 0 0,0 0,0 0;
    background-color: #46A5A9;;
    background-image: url(http://res.cloudinary.com/dt2mntbmf/image/upload/v1442903193/header-background_sp5xef.png),url(http://res.cloudinary.com/dt2mntbmf/image/upload/v1442903225/blueprint_xmmsrg.png),url(http://res.cloudinary.com/dt2mntbmf/image/upload/v1442903260/header-gradient_omkwt8.png);
    background-repeat: repeat,repeat,repeat-x;
    color:white;
}
img.pull-right{
	margin-left: 20px;
	margin-bottom: 10px;
}

img.pull-left{
	margin-right: 20px;
	margin-bottom: 10px;
}
.team{
	background-color: white;
}
nav.fixed-nav {
    position: fixed;
    color: white !important;
    top: 10px;
    left: 10px;
    z-index: 10;
    font-size: 20px;
    ul{
    	list-style:none;
    	padding: 0px;
    	li{
			background-color: white;
			padding: 5px 10px;
			opacity: 0.8;
			transition: all 0.5s;
			border-radius: 10px;
    		a{
    			color:#46A5A9;
    		}
    		a:hover,a:focus,a:active,a:visited{
    			text-decoration: none;
    		}
    	}
    	li.current{
    		border: solid #69B6B9 2px;
    	}
    	li:hover{
			opacity: 1;
    	}
    	li>a>span{
    		display:none;
    		transition: all 1s;
    	}
    	li:hover>a>span{
    		display:inline;
    	}
    }
}

.btn{
	border: 1px solid transparent;
	border-radius: 0px !important;
}

.btn-primary {
    color: #46A5A9;
    background-color: transparent;
    border: solid #46A5A9 3px !important;
    transition: all 0.5s;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
	background-color: #46A5A9 !important;
	color: white !important;
}
