@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Righteous);
body{
	padding-top: 50px;
	font-family: "Noto Sans",sans-serif;
	font-size: 11pt;
}
.lead{
	font-size: 14pt;
}
h1,h2,h3,h4,h5,h6{
	font-family: Righteous,sans-serif;
}
.site-head{
	background: url('images/header.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-top:5%;
	text-shadow: 0px 0px 4px white;
}
header.primary{
	font-size: 16pt;
}
header.primary>h1 {
    font-size: 50px;
}
@media screen and (max-width: 767px){
	header.primary>h1 {
	    font-size: 35px;
	}	
}
img{
	max-width: 100%;
}
.m-50{
	padding: 50px 10px;
}
.mt-30{
	margin-top:30px;
}
.card{
	height:330px;
	padding:10px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	text-shadow: 0px 0px 5px white;
}
.card.idea{
	background: url('images/idea.jpg') center center;
}
.card.platform{
	background: url('images/train.jpg') center center;
}
.card.website{
	background: url('images/website.jpg') center center;	
}
.card.mobileapp{
	background: url('images/mobileapp.jpg') center center;	
}
section.why,section.team{
	background-color: #FCFCFC;
}