@font-face {
    font-family: comfortaa;
    src: url(../fonts/Comfortaa-Regular.ttf);
}
body{
	background: rgb(9, 127, 128);
	color:white;
	transition:all 1s;
	font-family: comfortaa,"Segoe UI";
}
h1 {
	margin-top:70px;
	font-size: 80px;
	margin-bottom:60px
}
input{
	margin-bottom:15px;
}
a{
	color: #FF96AE;
}